/* div { 
    border: 10px solid grey;
    color: #1bea78;
    background-color: green;
    font-size: 50px;
}
*/

p {
    font-size: 30px;
    color:var(--color-negro);
    background-color: var(--color-amarillo);
}
:root{
    --color-amarillo: yellow;
    --color-negro: black;
    border: 2px solid var(--color-amarillo);
}
body{
    background-image: linear-gradient(#ff0000 ,aqua) ;
    
    
}

#uno{
        font-weight: 100;

    /* background-image: url('images/imagen.jpg'); */
    background-size: cover;
    /* background-size: contain; */
    background-position: center;
    background-repeat: no-repeat;
    /* width: 500px;
    height: 500px;
     */
    text-align: center


}
#dos{
    margin: 200px black;
    font-weight: 800;
    background-color: #212121;
    background-color: rgb(139, 24, 24);


}
#tres{
    width: 200px;
    height: 200px;
    border: 10px solid red;
    margin: 10px;
    background-image: radial-gradient(orange,yellow,blue);
    opacity: 80%;
    
    
}
#cuatro{
    width: 200px;
    height: 200px;
    border: 10px solid red;
    margin: 10px;
    background-image: conic-gradient(orange,yellow,blue,yellow);
}
#cinco{
    margin: 20px ;
    border: 1px solid green;
    letter-spacing: 10px;
    word-spacing: 40px;
    line-height: 40px;
    text-indent: 50px;
    text-transform: uppercase;
    text-underline-position:left;

}
a{
    text-decoration-line:underline;
    text-decoration-color: aqua;
    text-decoration-style:dotted;
    text-decoration-thickness: 10px;
    /* text-underline-offset: 10px; */

    text-underline-position:left;
}
table{
    border: 1px solid gray;
    border-collapse: collapse;
    font-family: "Monomakh";
}
td,th{
    border: 1px solid gray;
    
    width: 50px;
}
ul{/*
    list-style-type: armenian;
    list-style-image: url("images/favicon-96x96.png");
    */
    list-style: armenian inside none;
} 
li::marker{
    color: red;
    text-transform: uppercase;
} 

/*  */