header{
    /* background-repeat: no-repeat;
    background-image: url("favicon.svg");
    height: 150px;*/
    grid-area: header;
    display: flex;
    height: 150px;
    background-image: url(esmeraldas.jpeg);
    justify-content: center;
    align-items: center; 
    color: rgb(202, 38, 38);
    
    

    
} 
#titulo{
    text-align: center;

}
.esmeraldas {
    display: grid;
    grid-template-areas:
        "content1 content2 content3"
        "content4 content5 content6";
    grid-template-columns: repeat(3, 200px);
    grid-template-rows: auto auto; /* Solo 2 filas necesarias */
    gap: 10px; /* Espaciado opcional */
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to top left,rgb(3, 89, 218),rgb(0, 116, 0));
    
}
/* .esmeraldas{
    display: grid;
    grid-template-areas:
     " content1 content2 content3 " 
     "footer footer footer footer footer";
    grid-template-columns:repeat(5,200px);
    grid-template-rows: repeat(5,auto); 
} */
#content {
    width: 100%; /* Ocupar todo el espacio disponible */
    
}
.primera{
    grid-area: content1;
    border: 10px solid grey;
    margin: 20px;
    align-items: center;
    text-align: center; 
    /* background-image:linear-gradient(top, green, white ); */
    
}
p{
    text-align: center;
}
a{
    align-items: center;
}
#imagen{
    margin-top: 20px;
    object-fit :cover;
    width: 100%;
    height: auto;
}
.segunda{
    grid-area: content2;
    border: 10px solid grey;
    margin: 20px;
    align-items: center;
    text-align: center; 
}
.tercera{
    grid-area: content3;
    border: 10px solid grey;
    margin: 20px;
    align-items: center;
    text-align: center; 
}
.cuarta{
    grid-area: content4;
    border: 10px solid grey;
    margin: 20px;
    align-items: center;
    text-align: center; 
}
.quinta{
    grid-area: content5;
    border: 10px solid grey;
    margin: 20px;
    align-items: center;
    text-align: center; 
}
.sexta{
    grid-area: content6;
    border: 10px solid grey;
    margin: 20px;
    align-items: center;
    text-align: center; 
}