#uno{
    font-size: 10px;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#dos{
    font-size: 10cm;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#tres{
    font-size: 10mm;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#cuatro{
    font-size: 10q;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#cinco{
    font-size: 10in;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#seis{
    font-size: 10pt;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#siete{
    font-size: 10pc;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#ocho{
    font-size: 10%;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#nueve{
    font-size: 10em;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#diez{
    font-size: 10rem;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#once{
    font-size: 10ex;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#doce{
    font-size: 10rex;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#trece{
    font-size: 10vw;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#catorce{
    font-size: 10vh;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#quince{
    font-size: 10vmin;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#dieciceis{
    font-size: 10vmax;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#diecisiete{
    font-size: 10vi;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#dieciocho{
    font-size: 10vb;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#diecinueve{
    font-size: 10cqw;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#veinte{
    font-size: 10cqh;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
}
#veintiuno{
    font-size: 10cqmin;
    border:1cm solid aqua;
    background-color: rgb(001, 001, 255);
    
}
#veintidos{
    font-size: 10px;
}
#veintitres{
    font-size: 10px;
}
#veinticuatro{
    font-size: 10px;
}
#veinticinco{
    font-size: 10px;
}
#veintiseis{
    font-size: 10px;
}
#veintisiete{
    font-size: 10px;
}
#veintiocho{
    font-size: 10px;
}
#veintinueve{
    font-size: 10px;
}
#treinta{
    font-size: 10px;
}
#treintayuno{
    font-size: 10px;
}
#treintaydos{
    font-size: 10px;
}
#treintaytres{
    font-size: 10px;
}
#treintaycuatro{
    font-size: 10px;
}
#treintaycinco{
    font-size: 10px;
}
#treintayseis{
    font-size: 10px;
}
#treintaysiete{
    font-size: 10px;
}
/* div{ 
    display:inline-block;
    width: 300px;
    height: 300px;
    display: flex; 
}*/
.ejemplo_flex{
    display:inline-flex;
    padding: 10px;

}
.hijos{
    background-color: aqua                         ;
    padding: 20px;
    margin: 5px;
    width: 10px;
    height: 50px;
    display: inline-flex;
    flex-direction: column;
}
.container{
    display: grid;
    /*grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px 100px;
    gap: 10px;
    column-gap: 50px;
    row-gap: 50px; */
    /* grid-template: 50px 50px 50px / 100px 100px; */
    grid-template-columns: repeat(auto-fill, minmax(400px,600px)) ;
    /* grid-template-rows: repeat(4,1fr 2fr); */
    gap: 10px;
}
.item{
    background-color: aqua;
    padding: 20px;
    text-align: center;
}