div{
    color: aqua;
    background-color: black;
}

.jose{
    color: whitesmoke;
    background-color: brown;
}

#alias{
    color: rgb(209, 11, 11);
    background-color: #11ecb5;
}

button[disabled]{
    background-color: red;
}

button{
    background-color: green;
}
a[href ]{
    background-color: darkgoldenrod;
}
a[rel="nofollow"]{
    background-color: wheat;
}
[data-mood ~= "happy"]{
    background-color: darkturquoise;
}
[lang |="es"]{
    background: red;
    color: white;
    padding: 5px;
}
a[href*="mipagina"]{
    color: orange;
}
a[hrefʌ ]{
    border: 10px;
}